<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{! Place favicon.ico and apple-touch-icon.png in the root directory }}

        <link rel="stylesheet" href="{{asset "css/normalize.css"}}">
        <link rel="stylesheet" href="{{asset "css/main.css"}}">
        <script src="{{asset "js/vendor/modernizr-2.6.2.min.js"}}"></script>

        {{! Ghost outputs important style and meta data with this tag }}
        {{ghost_head}}
    </head>
    <body class="{{body_class}}">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        {{{body}}}

        <footer>
            <a href="{{@blog.url}}/rss/">Subscribe!</a>
            <section>All content copyright <a href="/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
            <section>Proudly published with <a href="http://ghost.org">Ghost</a></section>
        </footer>

        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}

        <script src="{{asset "js/plugins.js"}}"></script>
        <script src="{{asset "js/main.js"}}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
