{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main role="main">

    <article class="{{post_class}}">

        <header>
            <a class="blog-logo" href="{{@blog.url}}">
                {{#if @blog.logo}}
                    <img src="{{@blog.logo}}" alt="Blog Logo">
                {{else}}
                    <span class="blog-title">{{@blog.title}}</span>
                {{/if}}
            </a>
        </header>

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

        {{! Everything below outputs content of the the post which has been published }}
        <span class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{tags prefix="on " separator=" | "}}</span>

        <h1>{{{title}}}</h1>

        <section>
            {{content}}
        </section>

        <footer>

            <section>
                <h4>{{author.name}}</h4>
                <p>{{author.bio}}</p>
            </section>

        </footer>

        {{/post}}

    </article>

</main>